.author-page {
    .author-banner {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        width: 100%;
        height: 400px;

        @media(max-width: 1600px) {
            height: 350px;
        }

        @media(max-width: 1200px) {
            height: 300px;
        }

        @media(max-width: 992px) {
            height: 250px;
        }

        @media(max-width: 768px) {
            height: 200px;
        }

        border-radius: 16px;
        position: relative;
    }

    .author-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-position: center top;
        object-fit: cover;
    }

    .user-info {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        flex-wrap: wrap;
        gap: 20px;

        .follow-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .space-between {
        display: flex;
        justify-content: space-between;
    }
}