.empty-card-item {
    .nft-card-info {
        padding: 10px;
    
    
        .sale-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}