.trending-card {

    @media (min-width: 526px) and (max-width: 992px) {
        .col-lg-5 {
            flex: 0 0 auto;
            width: 41.66666667%;
        }
    }

    @media (max-width: 525px) {
        .col-lg-5 {
            height: 250px
        }
    }

    .trending-item-img {
        opacity: 1;
        
        filter: none;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
    
        transition: all .6s;
    
        &:hover {
            transform: scale(1.05); /* scale the image by 110% */
        }
    }

    .trending-item-right {
        padding-left: 30px;
        padding-top: 18px;
        
        @media (max-width: 525px) {
            padding-bottom: 20px;
            padding-left: 0px;
        }

        .collection-img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
    
            transition: all .3s;
    
            &:hover {
                transform: scale(0.9);
            }
        }
    
        .verify-icon {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    
        .collection-info {
            @media (max-width: 525px) {
                padding-left: 30px;
            }

            margin-top: 15px;
    
            display: flex;
            align-items: center;
    
            .avatar {
                position: relative; 
                width: 40px; 
                height: 40px;
                border-radius: 50%;
    
                &:hover {
                    border: #f60cfe 2px solid;
                }
            }
    
            .collection-name {
                flex-grow: 1;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                padding-left: 15px;   
            }
    
            .collection-link {
                color: #F60CFE;
                font-size: 16px;
                line-height: 35px;
                font-weight: 500;
    
                &:hover{
                    color: #cc13d3;
                }
            }
        }

        .view-artwork-div {
            @media (max-width: 525px) {
                display: flex;
                justify-content: center;
            }
        }
    }
    
    .view-artwork-btn {
        margin-top: 30px;
    }
}
