.collection-detail {
    .collection-detail-banner {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    
        width: 100%;

        height: 400px;
        
        @media(max-width: 1600px) {
            height: 350px;
        }

        @media(max-width: 1200px) {
            height: 300px;
        }

        @media(max-width: 992px) {
            height: 250px;
        }

        @media(max-width: 768px) {
            height: 200px;
        }

        border-radius: 16px;
    
        position: relative;
    }
    
    .col-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-position: center top;
        object-fit: cover;
    }

    .collection-top-section {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        @media(max-width: 900px) {
            flex-direction: column-reverse;
        }
    }

    .social-dropdown {
        @media(min-width: 901px) {
            display: none;
        }

        text-align: right;
    }

    .social-line {

        display: flex;
        
        .social-icon:not(:last-child) {
            margin-right: 20px;
        }

        @media(max-width: 900px) {
            display: none;
        }
    }

    .paragraph {
        height: 16px;
    }

    .see-less {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .show-more-btn {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin-top: 15px;
    }

    // tabs
    .ant-tabs-tab {
        padding: 10px 0;
    }

    .ant-tabs-tab + .ant-tabs-tab {
        margin: 0 0 0 60px;
    }

    .ant-tabs-top > .ant-tabs-nav {
        margin: 0 0 20px 0;
    }
}