.make-offer {

    .ant-picker  {
        height: 51px;
        font-size: 20px;
    }

    .ant-picker-input > input {
        font-size: 16px;
    }

    .ant-picker-input > input::placeholder {
        color: #979797;
        font-weight: 400; 
    }

    .ant-modal-content {
        border-radius: 6px;

        .ant-modal-close {
            top: 6px;
            right: 4px;

            .ant-modal-close-x {
                font-size: 20px;   
            }
        }
    }

    .ant-modal-header {
        border-radius: 20px 20px 0 0;
        padding: 28px 20px;

        .ant-modal-title {
            font-size: 18px;
            line-height: 18px;
            font-weight: 800;
        }
    }

    .price-input-section {
        display: flex;
        gap: 10px;

        @media (max-width:499px) {
            flex-direction: column;
        }

        @media (min-width:500px) {
            input {
                flex: 1;
            }
        }
    }
}