.list-item-page {
    padding: 180px 390px 100px 390px;
    max-width: 1920px;
    width: 100%;

    @media (min-width:1920px) {
        margin: 0px auto;
    }

    @media(max-width: 500px) {
        padding: 0px 20px;
    }

    .fixed-price-tab {
        border-radius: 6px 0px 0px 6px;
    }

    .timed-auction-tab {
        border-radius: 0px 6px 6px 0px;
    }

    .dark-mode-active-btn {
        background: #fff;
        color: #000;
    }

    .light-mode-active-btn {
        background: #000;
        color: #fff;
    }

    .sub-title-margin {
        margin-bottom: 12px;
    }

    .form-item {
        margin-top: 30px;
    }

    .listing-btn-style {
        height: 56px;
        width: 190px;
        color: white;
        background-color: #f60cfe;
        border: none;
        outline: 0;
        border-radius: 6px;
        font-size: 16px;
        box-shadow: 2px 2px 20px 0px rgba(131, 100, 226, 0);
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 2px 2px 20px 0px rgba(131, 100, 226, 0.5);
            transition: all 0.3s ease;
        }
    }

    .listing-btn-style:disabled {
        background-color: rgb(216 212 212) !important;
        box-shadow: none !important;
        transition: none !important;
        cursor: default !important;
    }

    .ant-picker  {
        height: 51px;
        font-size: 20px;
    }

    .ant-picker-input > input {
        font-size: 16px;
    }

    .ant-picker-input > input::placeholder {
        color: #979797;
        font-weight: 400; 
    }

    .require-error {
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
    }
}